// Division elements should adhere to the following criteria:
// 1) SECTION
//  a. Use case
//    aa. Vertical page organization
//  a. Properties
//    aa. Full width
//    bb. No padding or margin
// 2) CONTENT
//  a. Use case
//    aa. Provide vertical white space between section content elements
//  b. Properties
//    aa. Vertical padding

// Main content area with fixed header
.fixedhdr {
  ~main {
    padding-top: $hdrHt;
  }
}

// 'Landing' area for pages
// Full height
// For proper mobile implementation of vh,
// see (https://css-tricks.com/the-trick-to-viewport-units-on-mobile/)
.atf {
  height: calc(100vh - #{$hdrHt}); /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100 - #{$hdrHt});
}

.atf__content-wrap {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.atf__feature-buttons-wrap {
  display: flex;
}

.section__content {
  &~ .section__content {
    padding-top: 50px;
  }
  &~ .section__content--tall {
    padding-top: 150px;
  }
}

.section__content--tall {
  &~ .section__content {
    padding-top: 50px;
  }
  &~ .section__content--tall {
    padding-top: 150px;
  }
}
@include max-mobile-wide {
  .section__content {
    & ~ .section__content {
      padding-top: 40px;
    }

    & ~ .section__content--tall {
      padding-top: 100px;
    }
  }

  .section__content--tall {
    & ~ .section__content {
      padding-top: 40px;
    }

    & ~ .section__content--tall {
      padding-top: 100px;
    }
  }
}