$total: 10;

// todo: Add the resulting widths to a list. Do not output
//  a new style rule if the current width ratio already exists
@for $a from 1 through $total {
  @for $b from 1 through $total {
    $limit: $a < $b;

    @if $limit {
      .column-#{$a}-#{$b} {
        width: calc(#{$a} / #{$b} * 100%);
      }
    }
  }
}

.columns {
  display: flex;
}

.column {
  flex: 1 1 auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;

  &--centered {
    @extend .container !optional;

    text-align: center;
  }
}

.container--small {
  @extend .container !optional;

  max-width: 70rem;
  margin: 0 auto;
}

.container--very-small {
  @extend .container !optional;

  max-width: 35rem;
  margin: 0 auto;
}

@include max-tablet-small {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@include max-mobile-wide {
  .container {
    padding-left: 7px;
    padding-right: 7px;
  }
}
