/*
Variables:
header height: 65px
*/

.header__wrap {
    height: $hdrHt;
    display: flex;
}
.header--lt,
.header--rt {
    height: 100%;
}
.header--lt {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.logo {
    display: inline-block;
    padding: 10px 0;
    height: 100%;
}
.logo__img-wrap {
    height: 100%;
    display: inline-block;
}
.logo__img {
    height: 100%;
    width: 100%;
}
.header--rt {
    flex: 2 0 auto;
    margin-left: auto;
}

@media screen and (max-width: 768px) {
    .header__wrap {
        height: 63px;
    }
    .logo {
        padding: 12px 0;
    }
}

@media screen and (max-width: 568px) {
    .header__wrap {
        height: 58px;
    }
    .logo {
        padding: 8px 0;
    }
}

@media screen and (max-width: 479px) {
    .header__wrap {
        height: 50px;
    }
}