/*
Variables:
nav item hover color:
nav item active color:
nav item text style: uppercase
*/

.mainnav {
    height: 100%;
}

.mainnav a {
    text-decoration: none;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navdrawer {
    display: none;
}

.navbar__item{
    height: 100%;
    transition: all 250ms ease;
}

.navbar__item-label {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: inherit;
}

.navbar__item-label.is-active {
    color: $red;
    border-bottom-color: $red;
}

.navbar__item-label:hover {
    color: $blue;
    border-bottom-color: $blue;
}

.navbar__item-label.is-active .svg-icon__arrow--dn {
    transform: rotate(-90deg);
    stroke: $red;
}

.navbar__item-label:hover .svg-icon__arrow--dn {
    transform: rotate(-90deg);
    stroke: blue;
}

.navbar__item-label.has-dropdown {
    position: relative;
}

.navbar__item-label.has-dropdown span {
    padding-right: 20px;
}

.navbar .svg-icon__arrow--dn {
    display: inline-block;
    stroke-width: 2px;
    height: 13px;
    width: 13px;
    transition: inherit;
    transform-origin: center;
}

.svg-icon__arrow--dn {
    transform: rotate(90deg);
}

.navbar .svg-icon__arrow--dn {
    stroke: black;
}

.dropdown__content-wrap {
    position: fixed;
    top: $hdrHt;
    left: 0;
    right: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: white;
    padding: 50px 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: inherit;
}

.dropdown__content-wrap.is-active {
    transform: scaleY(1);
    border-color: #eeeeee;
}

.dropdown__content {
    opacity: 0;
    transition: inherit;
}

.dropdown__content.is-active {
    opacity: 1;
}

.navbar__item-label {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
}

@include max-tablet {
    .navbar {
        display: none;
    }
}