@media screen and (max-width: 768px) {
    /*
    Variables:
    active drawer main body overlap: 65px
    */
    .svg-icon__burger {
        stroke: black;
        stroke-width: 2.5px;
        width: 26px;
    }
    .navdrawer {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .navdrawer__trigger {
        cursor: pointer;
        display: flex;
        height: 63px;
        justify-content: center;
        align-items: center;
    }
    .navdrawer__trigger.is-active {
        color: green;
    }
    .navdrawer__panel-viewport {
        position: absolute;
        left: 100%;
        top: 0;
        height: 100vh;
        width: calc(100vw - 65px);
        overflow: hidden;
        background: black;
        color: white;
    }
    .navdrawer__panel-viewport a {
        color: white;
    }
    .navdrawer__panel-container {
        position: absolute;
        left: 0;
        top: 0;
        width: calc((100vw - 65px) * 2);
        transition: left .3s ease-out;
    }
    .navdrawer__panel-container.lvl1-active {
        left: calc((100vw - 65px) * -1);
    }
    .navdrawer__panel-container.lvl2-active {
        left: calc((100vw - 65px) * -2);
    }
    .navdrawer__panel {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        min-height: 100vh;
        height: 100vh;
        max-height: 100vh;
        width: calc(100vw - 65px);
        transition: left .3s ease-out;
        background-color: #000;
        color: #fff;
        overflow-y: scroll;
        padding: 20px 30px;
    }
    .navdrawer__panel.is-lvl1 {
        left: calc(100vw - 65px);
    }
    .navdrawer__panel.is-lvl2 {
        left: calc((100vw - 65px) * 2);
    }
    .navdrawer__panel.is-active {
        z-index: 20;
    }
    .navdrawer__panel-header {
        text-align: center;
    }
    .overlay--full-page .navdrawer__trigger {
        position: absolute;
        right: 0;
        top: 0;
        width: 65px;
    }
    .navdrawer__header-label,
    .navdrawer__item-label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.5px;
        line-height: 65px;
    }
    .navdrawer__header-label {
        position: relative;
    }
    .navdrawer__header-label .svg-icon__arrow--left {
        position: absolute;
        left: -30px;
    }
    .navdrawer__item-label.has-subpanel span {
        padding-right: 40px;
    }
    .navdrawer .svg-icon__arrow,
    .navdrawer .svg-icon__arrow--left {
        stroke: white;
        display: inline-block;
        stroke-width: 2px;
        height: 13px;
        width: 13px;
        transition: inherit;
        transform-origin: center;
    }
    .svg-icon__arrow--left {
        transform: rotate(180deg);
    }
}

@media screen and (max-width: 568px) {
    /*
    Variables:
    active drawer main body overlap: 50px
    */

    .navdrawer__panel,
    .navdrawer__panel-viewport {
        width: calc(100vw - 50px);
    }

    .navdrawer__panel-container {
        width: calc((100vw - 50px) * 2);
    }

    .navdrawer__panel-container.lvl1-active {
        left: calc((100vw - 50px) * -1);
    }

    .navdrawer__panel-container.lvl2-active {
        left: calc((100vw - 50px) * -2);
    }

    .navdrawer__panel {
        padding: 15px 30px;
    }

    .navdrawer__panel.is-lvl1 {
        left: calc(100vw - 50px);
    }

    .navdrawer__panel.is-lvl2 {
        left: calc((100vw - 50px) * 2);
    }

    .navdrawer__header-label,
    .navdrawer__item-label {
        font-size: 18px;
    }

    .navdrawer__item-label.has-subpanel span {
        padding-right: 20px;
    }

    .svg-icon__burger {
        width: 24px;
    }

    .overlay--full-page .navdrawer__trigger {
        width: 50px;
    }
}

@media screen and (max-width: 479px) {
    /*
    Variables:
    active drawer main body overlap: 40px
    */

    .navdrawer__panel,
    .navdrawer__panel-viewport {
        width: calc(100vw - 40px);
    }

    .navdrawer__panel-container {
        width: calc((100vw - 40px) * 2);
    }

    .navdrawer__panel-container.lvl1-active {
        left: calc((100vw - 40px) * -1);
    }

    .navdrawer__panel-container.lvl2-active {
        left: calc((100vw - 40px) * -2);
    }

    .navdrawer__panel {
        padding: 10px 20px;
    }

    .navdrawer__panel.is-lvl1 {
        left: calc(100vw - 40px);
    }

    .navdrawer__panel.is-lvl2 {
        left: calc((100vw - 40px) * 2);
    }

    .navdrawer__header-label,
    .navdrawer__item-label {
        font-size: 17px;
        line-height: 50px;
    }

    .svg-icon__burger {
        width: 20px;
    }

    .overlay--full-page .navdrawer__trigger {
        width: 40px;
    }

}