.page__heading {
  padding: 4rem 0 3rem 0;
  text-align: center;
  margin: 0;
}
.page__section {
  &~.page__section {
    padding-top: 8rem;

    &.has-bg {
      margin-top: 6rem;
      padding: 3rem 0;
    }

    @include max-tablet {
      padding-top: 5rem;

      &.has-bg {
        margin-top: 4rem;
        padding: 2rem 0;
      }
    }

    @include max-mobile-wide {
      padding-top: 4rem;

      &.has-bg {
        margin-top: 3rem;
        padding: 1.5rem 0;
      }
    }
  }
}
.split {
  display: flex;

  @include max-tablet {
    flex-flow: column;
  }

  .split__image,
  .split__text {
    width: calc(1 / 2 * 100%);
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  &--left {
    @extend .split !optional;

    .split__image {
      order: 1;
    }
    .split__text {
      order: 2;
      padding-left: 3rem;
    }

    @include max-tablet {
      .split__image {
        width: 100%;
        max-width: 75%;
        margin: 0 auto 3rem;
      }
      .split__text {
        width: 100%;
        padding: 0;

        h3 {
          text-align: center;
        }
      }
    }

    @include below-mobile-wide {
      .split__image {
        max-width: initial;
      }
    }
  }
  &--right {
    @extend .split !optional;

    .split__image {
      order: 2;
    }
    .split__text {
      order: 1;
      padding-right: 3rem;
    }

    @include max-tablet {
      .split__image {
        order: 1;
        width: 100%;
        max-width: 75%;
        margin: 0 auto 3rem;
      }
      .split__text {
        order: 2;
        width: 100%;
        padding: 0;

        h3 {
          text-align: center;
        }
      }
    }

    @include below-mobile-wide {
      .split__image {
        max-width: initial;
      }
    }
  }
}
.section__heading {
  text-align: center;
  padding-bottom: 4rem;

  &--short {
    @extend .section__heading !optional;
    padding-bottom: 1rem;
  }

  h2 {
    margin: 0;
  }
}

.section__blurb {
  max-width: 600px;
  margin: 10px auto 0;
  font-size: 1.2rem;
}
