$reference-top-margin: 4rem;

.resume {
  max-width: 8in;
  margin: auto;
}
.resume__body {
  hr {
    margin-top: 1rem;

    & + p {
      height: 0 !important;
    }
  }
}
.references__row ~ .references__row {
  .reference {
    margin-top: $reference-top-margin;
  }
}
.reference {
  margin: 0 1.5rem;
}
.reference__attribution {
  padding-left: 2.45rem;
}
.reference__name {
  font-weight: bold;
  margin-bottom: 0.15rem;
}
.reference__company,
.reference__title {
  font-size: .85rem;
}
.tools {
  background-color: $blue-dark;
  color: white;

  & .section__content {
    max-width: 1200px;
    margin: auto;
  }
}
.tools__gallery {
  justify-content: center;
  flex-wrap: wrap;
}
.tools__icon-wrap {
  min-width: 140px;

  & img {
    padding: 1.25rem;
    margin: 0 auto;
    max-width: 140px;
    display: block;
  }
}

@include below-tablet {
  .references {
    .columns {
      display: block;

      & > [class^="column-"],
      & > [class*=" column-"] {
        width: 100%;
      }
    }
  }
  .reference {
    margin-left: 0;
    margin-right: 0;

    & ~ .reference {
      margin-top: $reference-top-margin;
    }
  }
}

@include max-mobile-wide {
  .resume__body {
    p,
    table {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    td[colspan='1'] {
      width: auto !important;
    }

    h2 {
      margin-bottom: 1rem !important;
    }
  }
  .reference {
    margin: 0;
  }
  .reference__attribution {
    padding-left: 2rem;
  }
}