
.tiles__column-left {
  background-color: rgba(0,0,0,0.6);
}
.tiles__ripen {
  background-color: #ee234b;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 6% 0;
}
.tiles__lifetrak {
  background-color: #63c8fe;
}
#efficient__img-widgets {
  &.is-active {
    .gears--lg,
    .gears--sm {
      animation-play-state: running;
    }
  }
}
.gears {
  position: relative;
  padding-bottom: 45.45%;

  .gears--lg,
  .gears--sm {
    position: absolute;
    animation-name: geartrain;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
  }

  .gears--lg {
    width: 42.25%;
    animation-duration: 9750ms;
  }
  .gears--sm {
    width: 26%;
    animation-duration: 6s;
  }
  .gears__0 {
    animation-direction: reverse;
    top: 0;
    left: 3%;
  }
  .gears__1 {
    animation-direction: normal;
    top: 43%;
    left: 42%;
  }
  .gears__2 {
    animation-direction: reverse;
    bottom: 46%;
    left: 56.5%;
  }
  .gears__3 {
    animation-direction: normal;
    top: 43%;
    left: 71%;
  }
}
@keyframes geartrain {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
video {
  max-width: 100%;
}
.template__panel-wrap-1,
.template__panel-wrap-6 {
  display: inline-block;
  perspective: 200px;
  perspective-origin: left;
  transform-style: preserve-3d;
  width: 17%;
}
.template__panel-wrap-2,
.template__panel-wrap-3,
.template__panel-wrap-4,
.template__panel-wrap-5 {
  display: inline-block;
  perspective: 200px;
  perspective-origin: left;
  width: 15%;
}
.template__panel {
  transition-duration: 500ms;
  transition-property: transform;
  transform-style: preserve-3d;
  transform-origin: left;
  transform: rotateY(90deg);
}
.is-active .template__panel {
  transform: rotateY(0);
}

@include max-tablet-small {
  .tiles {
    & > .columns {
      display: block;

      & > [class^="column-"],
      & > [class*=" column-"] {
        width: 100%;
      }
    }
  }
}