$desktop-wide: 1366px;
$desktop: 1024px;
$desktop-small: 960px;
$tablet: 768px;
$tablet-small: 568px;
$mobile-wide: 480px;
$mobile: 320px;

@mixin desktop-wide {
    @media screen and (min-width: $desktop-wide) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}
@mixin max-desktop {
    @media screen and (max-width: $desktop) {
        @content;
    }
}
@mixin desktop-small {
    @media screen and (min-width: $desktop-small) {
        @content;
    }
}
@mixin max-desktop-small {
    @media screen and (max-width: $desktop-small) {
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: $tablet) {
        @content;
    }
}
@mixin above-tablet {
    @media screen and (min-width: $tablet + 1) {
        @content;
    }
}
@mixin max-tablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}
@mixin below-tablet {
    @media screen and (max-width: $tablet - 1) {
        @content;
    }
}
@mixin tablet-small {
    @media screen and (min-width: $tablet-small) {
        @content;
    }
}
@mixin max-tablet-small {
  @media screen and (max-width: $tablet-small) {
    @content;
  }
}
@mixin mobile-wide {
    @media screen and (min-width: $mobile-wide) {
        @content;
    }
}
@mixin max-mobile-wide {
    @media screen and (max-width: $mobile-wide) {
        @content;
    }
}
@mixin below-mobile-wide {
    @media screen and (max-width: $mobile-wide - 1) {
        @content;
    }
}
@mixin mobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}